[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-xml = "*"
djangorestframework-simplejwt = "*"
spotipy = "*"
pyjwt = "*"
django-cors-headers = "*"
pytz = "*"
sqlparse = "*"
psycopg2-binary = "*"
python-dotenv = "*"
asgiref = "*"

[dev-packages]
